<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42650214790-rsgq8geejdtqk5bmnritponvp7dh6un7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42650214790-rsgq8geejdtqk5bmnritponvp7dh6un7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>42650214790-664kqmjnvds5a6v90f4td035r8cpg062.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDnS5u_teqaLdM4NtXFl4yWEwkSa46GzA</string>
	<key>GCM_SENDER_ID</key>
	<string>42650214790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VolcanoParadiseTravel.proyectogruposiete</string>
	<key>PROJECT_ID</key>
	<string>volcanoparadisetravelg7</string>
	<key>STORAGE_BUCKET</key>
	<string>volcanoparadisetravelg7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42650214790:ios:891a7621ba18534d3ccc07</string>
</dict>
</plist>